[Desktop Entry]
Name=Omni Preview
Comment=All-in-one file previewer and document viewer application
Exec=omni_preview %U
Icon=${SNAP}/meta/gui/nexina.omni.preview.png
Type=Application
Terminal=false
Categories=Utility;Viewer;
MimeType=application/octet-stream;*/*;all/all;all/allfiles;application/pdf;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.presentationml.presentation;image/*;video/*;audio/*;text/*;application/zip;application/x-tar;application/x-7z-compressed;application/x-rar-compressed;
StartupWMClass=omni_preview
